:root {
  --fontFamilyDef:  -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  --colorDef1: #ddd;
  --colorDef2: #333;
  --fontSizeDef1: 14px;
  --fontSizeDef2: 18px;
  --fontSizeDef3: 24px;
  --сolorA1: var(--colorDef2);
  --сolorA2: var(--colorDef1);
  --сolorH: var(--colorDef2);
  --сolorP: var(--colorDef2);
}