@import url("../../../app/styles/base-params.css")

.main
  position: relative

.input
  width: 100%
  height: 40px
  max-height: 110px
  max-width: 300px
  padding: 5px 5px
  border: none
  outline: none
  border-radius: 10px
  border: 3px solid var(--color2)
  background-color: var(--bgControl)
  color: var(--colorControl)
  font-size: var(--fontSizeDef2)
  transition: box-shadow 0.2s
  &:hover
  &:focus
    box-shadow: 0px 0px 4px 1px var(--color2)
    + div svg
      opacity: 1

input::selection
  background-color: var(--color3)

.disable
  opacity: 0.5
  background-color: var(--colorDef2)
  color: var(--color1)
  transition: none
  box-shadow: none
  &:hover, &:active
    cursor: default
    opacity: 0.5
    background-color: var(--colorDef2)
    color: var(--color1)
    transform: none
    box-shadow: none
  &:focus
    box-shadow: none

.icon svg
  position: absolute
  top: 50%
  right: 5px
  width: 30px
  height: 30px
  transform: translateY(-50%)
  opacity: 0.3
  color: var(--color2)
