@import url("../../../app/styles/base-params.css")

.main
  padding: 10px

.sort-wrap
  display: flex
  gap: 20px

.inner
  display: flex
  justify-content: space-between
  align-items: flex-end
  margin-bottom: 10px

.groupBookmark
  margin-bottom: 10px

.countBookmarks
  margin-left: 10px
  font-size: 20px
  color: var(--color4)
