@import url("../../../app/styles/base-params.css")

.main
  button
    position: relative
    display: flex
    align-items: center
    gap: 5px
    padding: 5px 10px
    border: none
    outline: none
    border-radius: 5px
    border-bottom: 3px solid var(--color2)
    background-color: var(--bgControl)
    box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px
    color: var(--colorControl)
    font-size: var(--fontSizeDef2)
    transition: transform 0.1s, background-color 0.08s
    overflow: hidden
    &:hover
      cursor: pointer
      border-bottom: 3px solid var(--color5)
      background-color: var(--bgControlHover)
      color: var(--colorControlHover)
      box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .3) 0 6px 20px
      transform: scale(1.05)
      svg, svg g
        fill: var(--svgControlHover)
      &:active
        border-radius: 5px
        border-bottom: 3px solid var(--color2)
        background-color: var(--bgControl)
        color: var(--colorControl)
        box-shadow: none
        svg, svg g
          fill: var(--svgControl)
    &:disabled
      opacity: 0.5
      border-bottom: 3px solid var(--color2)
      background-color: var(--colorDef1)
      color: var(--colorDef2)
      transition: none
      &:hover, &:active
        cursor: default
        opacity: 0.5
        border-bottom: 3px solid var(--color2)
        background-color: var(--colorDef1)
        color: var(--colorDef2)
        transform: none
        svg, svg g
          fill: var(--svgControl)
    svg, svg g
      fill: var(--svgControl)

  .transparentStyle
    border: none
    background-color: transparent
    box-shadow: none
    &:hover
      border: none
      box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .3) 0 6px 20px
      &:active
        border: none
        background-color: transparent

  .noHoverStyle:hover
    border: none
    background-color: transparent
    box-shadow: none
    svg, svg g
      fill: var(--svgControl)

  .noBorderStyle
    border: none

  .bigStyle
    font-size: 20px
    svg, svg g
      width: 30px
      height: 30px

  .smallStyle
    font-size: 14px
    padding: 2px 5px

  .buttonActive
    cursor: pointer
    // border-bottom: 3px solid var(--color5)
    background-color: var(--bgControlHover)
    color: var(--colorControlHover)
    box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .3) 0 6px 20px
    transform: scale(1.05)
    svg, svg g
      fill: var(--svgControlHover)

  .iconTop
    flex-direction: column
    align-items: center

  .iconRight
    flex-direction: row-reverse

  .iconBottom
    flex-direction: column-reverse
    align-items: center

  .iconDarkColor
    svg, svg g
      fill: var(--color4)

  button.baseSettings  // CUSTOM BTN
    margin: -20px 0
    transform: translateY(13px)
    &:hover
      background-color: transparent
      box-shadow: none
    svg, svg g
      width: 45px
      height: 45px
