@import url("../../../app/styles/base-params.css")

.button
  display: flex
  gap: 5px
  padding: 5px 10px
  border: none
  outline: none
  border-radius: 5px
  border-bottom: 3px solid var(--color2)
  background-color: var(--color5)
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px
  color: var(--сolorControl1)
  font-size: var(--fontSizeDef2)
  transition: transform 0.1s, background-color 0.08s
  &:hover
    cursor: pointer
    border-bottom: 3px solid var(--color5)
    background-color: var(--color2)
    color: var(--сolorControl2)
    box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .3) 0 6px 20px
    transform: scale(1.05)
  &:active
    border-radius: 5px
    border-bottom: 3px solid var(--color2)
    background-color: var(--color5)
    color: var(--сolorControl1)
  svg
    fill: var(--color2)
  &:hover svg
    fill: var(--color5)
  &:active svg
    fill: var(--color2)

.transparent
  border: none
  background-color: transparent
  box-shadow: none
  &:hover
    border: none
    box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .3) 0 6px 20px
  &:active
    border: none
    background-color: transparent

.noHoverStyle:hover
  border: none
  background-color: transparent
  box-shadow: none

.noBorder
  border: none

.big
  font-size: 20px
  // padding: 10px 20px
  svg
    width: 30px
    height: 30px

.small
  font-size: 14px
  padding: 2px 5px

.buttonDisabled
  opacity: 0.5
  border-bottom: 3px solid var(--color2)
  background-color: var(--bgDisableControl2)
  color: var(--сolorControl1)
  transition: none
  &:hover, &:active
    cursor: default
    opacity: 0.5
    border-bottom: 3px solid var(--color2)
    background-color: var(--bgDisableControl2)
    color: var(--сolorControl1)
    transform: none
  svg, &:hover svg
    fill: var(--color2)

.buttonActive
  cursor: pointer
  // border-bottom: 3px solid var(--color5)
  background-color: var(--color2)
  color: var(--сolorControl2)
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .3) 0 6px 20px
  transform: scale(1.05)
  svg
    fill: var(--color5)

.top
  flex-direction: column
  align-items: center

.right
  flex-direction: row-reverse

.bottom
  flex-direction: column-reverse
  align-items: center
