.bookmarks-wrap
  display: flex
  flex-wrap: wrap
  width: 1030px
  margin: 0 auto
  gap: 10px

.deleteBookFrom
  display: flex
  flex-direction: column
  gap: 20px

.editBookFrom
  display: flex
  flex-direction: column
  gap: 20px

.buttonWrap
  display: flex
