.bookmarks-wrap
  display: flex
  flex-wrap: wrap
  justify-content: center
  margin-top: 20px
  gap: 20px

.deleteBookFrom
  display: flex
  flex-direction: column
  gap: 20px

.editBookFrom
  display: flex
  flex-direction: column
  gap: 20px

.buttonWrap
  display: flex
